[submodule "WebGL-Image-Filtering"]
	path = WebGL-Image-Filtering
	url = https://github.com/koizura/WebGL-Image-Filtering
[submodule "TilesScrambler"]
	path = TilesScrambler
	url = https://github.com/koizura/TilesScrambler
[submodule "SlopeRider"]
	path = SlopeRider
	url = https://github.com/koizura/SlopeRider
