[submodule "WebGL-Image-Filtering"]
	path = WebGL-Image-Filtering
	url = https://github.com/koizura/WebGL-Image-Filtering
[submodule "TilesScrambler"]
	path = TilesScrambler
	url = https://github.com/koizura/TilesScrambler
[submodule "SlopeRider"]
	path = SlopeRider
	url = https://github.com/koizura/SlopeRider
[submodule "MyOrdinaryLife"]
	path = MyOrdinaryLife
	url = https://github.com/koizura/MyOrdinaryLife
[submodule "candycrash"]
	path = candycrash
	url = https://github.com/koizura/candycrash
[submodule "ImageExporter"]
	path = ImageExporter
	url = https://github.com/koizura/ImageExporter
